@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: small;
    font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigation-links {
  padding: .3em;
  font-size: 26px;
  font-weight: 500;
  text-decoration: none;
  text-align: right;
  align-items: flex-end;
  justify-content: right;
  justify-items: right;
  margin: 12px;
}

html, body {
  height: 100%
}
body {
  display: flex;
  align-items: stretch;
  background-color: rgb(21, 21, 21); 
}

#root {
  width: 100%
}
